.image-container {
    position: relative;
    display: inline-block;
}

.hotel-detail__image {
    width: 100%;
    height: auto;
}

.edit-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.image-container:hover .edit-button {
    display: inline-block;
}