ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

// progress
.progress {
    max-width: 1200px;
    margin: 50px auto;

}

// end progress

//checkout
.main-display {
    width: 70%;
    padding: 5px;
}

.sider-display {
    padding: 5px;
    width: 30%;
}

.checkout {
    margin: 10px auto;
    max-width: 1200px;
    display: flex;

    // guest info
    &__guest {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;

        &-Warning {
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            padding: 10px 20px;
            background-color: #ccc;
            border-radius: 5px;

            &-title {
                margin-left: 10px;
                font-size: 16px;
                font-weight: 600;
                font-family: var(--fontMulish);
            }
        }

        &-Details {
            display: flex;
            flex-wrap: wrap;
        }

        &-Name,
        &-Email,
        &-Country {
            width: calc(50% - 50px);
            display: flex;
            flex-direction: column;
            margin: 10px 20px;

            & p {
                margin-block-start: 0;
                margin-block-end: 0;
                margin-right: 10px;
            }

            & input {
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #ccc;
                margin-top: 10px;

            }

            & select {
                margin-top: 10px;
                width: 103%;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
        }

        &-dial {
            width: calc(50% - 50px);
            margin: 10px 20px;

            &-inp {
                width: 103%;
                margin: 10px 0;
                display: flex;

                & select {
                    width: 40%;
                    padding: 5px;
                }

                & input {
                    width: 60%;
                    padding: 5px;
                }
            }



        }
    }

    // end guest info

    // room detail
    &__name {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__room {
        &-Detail {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin: 10px 0;
        }

        &-cancellation {
            display: flex;
            color: green;
            font-size: 16px;
            font-weight: 600;

            & p {
                margin-left: 10px;
            }

        }

        &-maxGuest {
            display: flex;
            align-items: center;

            & p {
                margin-left: 10px;
                margin-block-start: 0;
                margin-block-end: 0;
            }
        }

        &-body {
            display: flex;
        }
    }

    &__service {
        & ul {
            display: flex;
            padding: 0;
            margin: 0;
            flex-wrap: wrap;
        }

        &-item {
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 5px;
            margin: 10px;
        }
    }

    // end room detail

    // hotel
    &__hotel {
        &-Details {
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        &-img {
            width: 100%;
            height: 200px;

            & img {
                border-radius: 5px 5px 0 0;

                width: 100%;
                height: 100%;
            }
        }

        &-body {
            padding: 20px;
        }

        &-Name {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }

    // end hotel
}