.main-display {
    width: 70%;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.checkout {
    margin: 10px auto;
    max-width: 1200px;

    // guest info
    &__guest {
        border: 1px solid #ccc;
        padding: 20px;

        &-Warning {
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            padding: 10px 20px;
            background-color: #ccc;
            border-radius: 5px;

            &-title {
                margin-left: 10px;
                font-size: 16px;
                font-weight: 600;
                font-family: var(--fontMulish);
            }
        }

        &-Details {
            display: flex;
            flex-wrap: wrap;
        }

        &-Name,
        &-Email,
        &-Country {
            width: calc(50% - 50px);
            display: flex;
            flex-direction: column;
            margin: 10px 20px;

            & p {
                margin-block-start: 0;
                margin-block-end: 0;
                margin-right: 10px;
            }

            & input {
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #ccc;
                margin-top: 10px;

            }

            & select {
                margin-top: 10px;
                width: 103%;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
        }
    }

    // end guest info

    // room detail
    &__name {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__room {
        &-Detail {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin: 10px 0;
        }

        &-cancellation {
            display: flex;
            color: green;
            font-size: 16px;
            font-weight: 600;

            & p {
                margin-left: 10px;
            }

        }

        &-maxGuest {
            display: flex;
            align-items: center;

            & p {
                margin-left: 10px;
                margin-block-start: 0;
                margin-block-end: 0;
            }
        }

        &-body {
            display: flex;
        }
    }

    &__service {
        & ul {
            display: flex;
            padding: 0;
            margin: 0;
            flex-wrap: wrap;
        }

        &-item {
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 5px;
            margin: 10px;
        }
    }

    // end room detail
}